set disadvantages
1. Unique item only
2. unorderd
3. no slicing

set advantages
1. search & delete & insert very fast
2. it uses HASHING internally
3. union/intersection/difference very fast

In [1]:
s1 = {10,20,30}
type(s1)

set

In [2]:
s1 = {}
type(s1)

dict

In [3]:
s1 = set([10,20,30])
print(s1)
type(s1)

{10, 20, 30}

set

In [4]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

# basic operation

### add & update

In [49]:
s1 = {10,20}
s1

{10, 20}

In [50]:
s1.add(30)
s1

{10, 20, 30}

In [7]:
# again insert 30
s1.add(30)
s1

{10, 20, 30}

In [51]:
# update function .we can insert item using other containers or set itself
s1.update([40,50,30])
s1

{10, 20, 30, 40, 50}

In [9]:
s1.update({60,70,80})
s1

{10, 20, 30, 40, 50, 60, 70, 80}

In [10]:
s1.update({100,200,300},[500,600])
s1

{10, 20, 30, 40, 50, 60, 70, 80, 100, 200, 300, 500, 600}

### discard & remove & pop

In [12]:
s1.discard(20)
s1

{10, 30, 40, 50, 60, 70, 80, 100, 200, 300, 500, 600}

In [14]:
s1.discard(10000)
s1

{10, 30, 40, 50, 60, 70, 80, 100, 200, 300, 500, 600}

# NOTE if val in set so deleted it other wise keep calm in DISCARD

In [15]:
s1.remove(100)
s1

{10, 30, 40, 50, 60, 70, 80, 200, 300, 500, 600}

In [17]:
s1.remove(325)
s1
# val not preset so produces error

KeyError: 325

### clear & delete

In [64]:
s1 = {10,20,30,40}
s1

{10, 20, 30, 40}

In [63]:
s1.clear()
s1

set()

In [65]:
s1 = {10,20,30,40}
s1

{10, 20, 30, 40}

In [66]:
del s1

In [67]:
s1

NameError: name 's1' is not defined

In [68]:
### in clear it gives blank set
### in del obj ,, it remove obj along with data

# other IMP function

In [69]:
s1 = {1+i for i in range(10)}
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [70]:
len(s1)

10

In [73]:
# searching is very fast in set
20 in s1

False

In [74]:
4 in s1

True

# More imp

In [75]:
s1 = {2,4,6,8}
s2 = {3,6,9}

# Union

In [76]:
# union which is all obj
s1 | s2

{2, 3, 4, 6, 8, 9}

In [77]:
# we can also use union function
s1.union(s2)

{2, 3, 4, 6, 8, 9}

In [78]:
s2.union(s1)

{2, 3, 4, 6, 8, 9}

# intersection

In [79]:
s1 & s2

{6}

In [80]:
s1.intersection(s2)

{6}

## difference

In [92]:
s1-s2

{2, 4, 8}

In [93]:
s2-s1

{3, 9}

it gives those element of s1 which is only present in s1 ,, (uncommon element)

In [90]:
s1.difference(s2)

{2, 4, 8}

In [91]:
s2.difference(s1)

{3, 9}

# Symmetric diffrence //// XOR operator

##### XOR operator , gives all element except common element

In [95]:
print(s1)
print(s2)

{8, 2, 4, 6}
{9, 3, 6}

In [96]:
s1 ^ s2

{2, 3, 4, 8, 9}

In [99]:
s1.symmetric_difference(s2)

{2, 3, 4, 8, 9}

In [97]:
s2^s1

{2, 3, 4, 8, 9}

In [100]:
s2.symmetric_difference(s1)

{2, 3, 4, 8, 9}

## Disjoint
1. it gives True or False as output
2. if common elments present in two sets so return False
3. if common element not present return True

In [101]:
print(s1)
print(s2)

{8, 2, 4, 6}
{9, 3, 6}

In [102]:
s1.isdisjoint(s2)

False

# some more methods

In [113]:
s1 = {2,4,6,8}
s2 = {4,6}

###### is subset

In [114]:
s2.issubset(s1)

True

In [115]:
s2<=s1

True

#### proper subset

In [116]:
s1 < s2

False

In [117]:
s2<s1

True

### super subset

In [118]:
s1 >= s2

True

In [120]:
s2 >= s1

False

In [121]:
s2.issuperset(s1)

False

In [122]:
s1.issuperset(s2)

True

# DICTIONARY IN PYTHON

In [9]:
a = {}
type(a)

dict

In [14]:
# accessesing value by key

In [75]:
a = {"mobile":10000,"laptop":40000,"tv":50000}

In [63]:
a["mobile"]

10000

In [64]:
a["mobi"]

KeyError: 'mobi'

In [65]:
a.get("mobile")

10000

In [66]:
a.get("mobi")

In [67]:
# item assign possible

In [68]:
a["mobile"] = 10

In [69]:
a

{'mobile': 10, 'laptop': 40000, 'tv': 50000}

In [70]:
a.update({"mobile":200})

In [71]:
a

{'mobile': 200, 'laptop': 40000, 'tv': 50000}

In [72]:
# length of dict
len(a)

3

In [74]:
#remove from dict
a.pop("mobie","nahi h na")

'nahi h na'

In [76]:
a.pop("mobile")

10000

In [78]:
#  remove last inserted key value pair
a.popitem()

('tv', 50000)

# problems

1. count unique element in a list

In [84]:
def uniquesInList(l):
    s = set(l)
    val = len(s)
    return val

In [85]:
l = [11,23,11,22]
uniquesInList(l)

3

In [1]:
def Unique(l):
    res = 1
    for i in range(1,len(l)):
        if l[i] not in l[:i]:
            res = res+1
    return res

In [2]:
l = [1,1,2,23,23,34,2,23]
Unique(l)

4

2. check is there any subarray with sum zero or not in LIst

example what is sub array...


array = [10,20,30]
possible sub array of this====>>

1. [10]
2. [10,20]
3. [10,20,30]
4. [20]
5. [20,30]
6. [30]

In [20]:
def FindSubArray(l):
    for i in range(len(l)):
        for j in range(i+1,len(l)+1):
            if sum(l[i:j]) == 0:
                return True
    else:
        return False

In [25]:
l = [10,20,30,-10,-20]

In [26]:
FindSubArray(l)

True

In [61]:
l = [10,20,30,-70]

In [55]:
def subarraysumero(l):
    presum = l[0]
    has = set()
    has.add(presum)
    for i in range(1,len(l)):
        presum = presum+l[i]
        if (presum in has) or (presum == 0):
            return True
        elif presum not in has:
            has.add(presum)
    else:
        return False

In [62]:
subarraysumero(l)

False

# check for palindrome permutation

In [139]:
from itertools import combinations,permutations
from collections import Counter

In [117]:
a = "sarang"

In [121]:
combi = list(combinations(a,r=2))

In [122]:
len(combi)

15

In [123]:
per = list(permutations(a))

In [124]:
len(per)

720

In [136]:
def checkPalindrom(s):
    """checking is there any permutation is palindrom or not?"""
    lis = list(permutations(s))
    for per in lis:
        i = 0
        j = len(per)-1
        while i <j:
            val1 = per[i]
            val2 = per[j]
            i = i+1
            j = j-1
            if val1 != val2:
                break
        else:
            return True
                
                
    else:
        return False

In [137]:
checkPalindrom("geegg")

True

In [138]:
checkPalindrom("sarang")

False